
.CANVAS{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;

 
}
.sec{
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.load{
width: 500px;
font-family: poppins;
font-size: 3.5em;
color: white;
font-weight: 800;
height: 40px;
}

.div{
    display: flex;
    flex-direction: column;

}

.h{
color:rgb(1, 1, 1);

font-weight: 800;
font-style: italic;
}
.h2{
    color: rgb(16, 6, 6);

 font-size: 1.08em;
 font-style: italic;

 transform: translate(360px, -40px) scaleY(1.52);
}

.split{
    display: flex;
    flex-direction: row;
    
}
.sec:has(h1){
   
font-size: 4.03em;
letter-spacing: 12px;
transform:translate(-50px, 100px);

  text-shadow: 2px 4px 0px rgb(64, 214, 207);
}

.sec:has(h3)::after{
    CONTENT:'';
    width: 30px;
    height: 30px;
    /* background-image:url('../public/link.svg'); */
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
}
.sec:has(p){
 font-size: 2.18em;
    transform:translateY(150px);
    width: 24vw;
    font-weight: bold;
    font-style: italic;
    color: orangered;
    
  
}
.li{
    font-size: 1.17em;
    text-decoration: underline;
    list-style:none;
  
    line-height: 28px;
   right: 20px;
  text-align: right;
    position: absolute;
  
    margin-top: 10vh;
    font-family:poppins;
    color: orangered;
    font-weight: 600;
}
@media (max-width: 800px){
    .sec:has(p){
        color: rgb(254, 254, 254) !important;
        width: 90vw !important;
        font-size: 1.42em !important;
        filter: drop-shadow(0px 0px 4px black);
    }   
    .h2{
        transform:translate(20px, -30px) scale(.76);
        font-size: 1.7em;
        color: aliceblue;
        text-shadow: 6px 5px 3px wheat;
    }
    .li{
        color: black !important;
    }
    .load{
        width: 500px;
        font-family: poppins;
        font-size: 3.5em;
        color: rgb(0, 0, 0);
        font-weight: 800;
        height: 40px;
        }
    
  }